[SIP Audio]
OPUS_48K2{sw}=True
OPUS_48K{sw}=True
SILK_B40_24K{sw}=True
SILK_B40{sw}=True
OPUS_16K{sw}=True
Speex_32K{sw}=True
Speex_16K{sw}=True
G.722-64k{sw}=True
OPUS_8K{sw}=True
Speex_8K{sw}=True
G.711-uLaw-64k{sw}=True
G.711-ALaw-64k{sw}=True
G.7231-6.3k[e]{sw}=True
G.729A{sw}=True
G.729{sw}=True
G.726-40k{sw}=True
G.726-32k{sw}=True
G.726-24k{sw}=True
G.726-16k{sw}=True
iLBC-13k3{sw}=True
iLBC-15k2{sw}=True
G.722.1-24K{sw}=True
G.722.1-32K{sw}=True
G.722.1C-24K{sw}=True
G.722.1C-32K{sw}=True
G.722.1C-48K{sw}=True
G.722.2{sw}=True

[SIP Video]
VP8{sw}=True
H.264{sw}=True
H.263p{sw}=True
H.263{sw}=True
MP4V-ES{sw}=True
H.261{sw}=True

[Managing Groups]

[Export Parameters]
RESTORE DEFAULTS=FALSE
Enable export=TRUE
Video frame width=1280
Video frame height=1024
Video frame rate=15
Audio sample rate=16000
Audio channels=1

[Address book 1711]
Scheme=h323
Host=10.66.94.220
Display name=ИК-19

[Address book 1710]
Scheme=h323
Host=10.66.116.21
Display name=ИК-16

[Address book 1708]
Scheme=h323
Host=10.66.90.50
Display name=ИК-13

[Address book 1707]
Scheme=h323
Host=10.66.89.198
Display name=ИК-12

[Address book 1713]
Scheme=h323
Host=10.66.121.10
Display name=ИК-26

[Address book 1712]
Scheme=h323
Host=10.66.95.179
Display name=ИК-24

[Address book 1702]
Scheme=h323
Host=10.66.85.15
Display name=ИК-3

[Address book 1714]
Scheme=h323
Host=10.66.96.21
Display name=ИК-46

[Address book 1715]
Scheme=h323
Host=10.66.97.20
Display name=ИК-47

[Address book 1703]
Scheme=h323
Host=10.66.86.31
Display name=ИК-5

[Address book 1717]
Scheme=h323
Host=10.66.99.98
Display name=ИК-52

[Address book 1718]
Scheme=h323
Host=10.66.101.100
Display name=ИК-53

[Address book 1719]
Scheme=h323
Host=10.66.102.3
Display name=ИК-54

[Address book 1720]
Scheme=h323
Host=10.66.103.254
Display name=ИК-55

[Address book 1721]
Scheme=h323
Host=10.66.104.99
Display name=ИК-56

[Address book 1704]
Scheme=h323
Host=10.66.87.13
Display name=ИК-6

[Address book 1723]
Scheme=h323
Host=10.66.109.35
Display name=ИК-62

[Address book 1724]
Scheme=h323
Host=10.66.110.250
Display name=ИК-63

[Address book 1734]
Scheme=h323
Host=10.66.106.24
Display name=КП-59

[Address book 1735]
Scheme=h323
Host=10.66.111.4
Display name=КП-66

[Address book 1726]
Scheme=h323
Host=10.66.117.100
Display name=Кировградская ВК

[Address book 1709]
Scheme=h323
Host=10.66.92.5
Display name=ЛИУ-23

[Address book 1716]
Scheme=h323
Host=10.66.89.201
Display name=ЛИУ-51

[Address book 1727]
Scheme=h323
Host=10.66.11.40
Display name=СИЗО-1

[Address book 1728]
Scheme=h323
Host=10.66.112.121
Display name=СИЗО-2

[Address book 1729]
Scheme=h323
Host=10.66.113.100
Display name=СИЗО-3

[Address book 1730]
Scheme=h323
Host=10.66.114.27
Display name=СИЗО-4

[Address book 1731]
Scheme=h323
Host=10.66.84.50
Display name=СИЗО-5

[Address book 1732]
Scheme=h323
Host=10.66.115.11
Display name=СИЗО-6

[Address book 1736]
Scheme=h323
Host=10.66.120.8
Display name=УК

[Address book 5577]
Scheme=h323
Host=10.66.10.252
Display name=к-н Чубик

[Address book 1705]
Scheme=h323
Host=10.66.88.4
Display name=ИК-8

[Address book 1725]
Scheme=h323
Host=10.66.123.4
Display name=КП-45

[Address book 1739]
Scheme=h323
Host=10.66.82.93
Display name=МСЧ-66

[Address book 1701]
Scheme=h323
Host=10.66.12.224
Display name=ИК-2

[Address book 1743]
Scheme=h323
Host=10.66.0.12
Display name=ЦИТОВ

[Address book codian]
Scheme=h323
Host=10.77.12.121
Display name=ФСИН России2

[Address book 4000]
Scheme=h323
Host=10.77.12.121
Display name=ФСИН России1

[Address book 10.77.16.184]
Scheme=h323
Host=10.77.16.184
Display name=ФСИН России

[Address book 5552]
Scheme=h323
Display name=м-р Аксенов П.С.

[Address book 1733]
Scheme=h323
Host=10.66.81.187
Display name=Космонавтов

[Address book 1706]
Scheme=h323
Host=10.66.80.50
Display name=ИК-10_VC200

[Address book 1737]
Scheme=h323
Host=10.66.98.85
Display name=Учебный центр

[Address book 1700]
Scheme=h323
Host=10.66.2.7
Display name=Екатеринбург

[Address book 5505]
Scheme=h323
Host=10.66.10.51
Display name=ст. л-т Ушакова

[Address book 1746]
Scheme=h323
Host=10.66.2.5
Display name=Екатеринбург1

[Address book 1777]
Scheme=h323
Host=10.66.10.69
Display name=Борисова

[Managing Users]
{{ openmcu_web_admin_user }}={{ openmcu_web_admin_password }},administrator
{{ openmcu_web_conf_user }}={{ openmcu_web_conf_password }},conference manager

[Telnet Server]
RESTORE DEFAULTS=FALSE
Enable=FALSE
Telnet Listener=*:1423
Username=admin

[RTSP Server *]
RTP Input Timeout=60

[Registrar Parameters]
RESTORE DEFAULTS=FALSE
Allow internal calls=TRUE
SIP allow registration without authentication=TRUE
SIP allow MCU calls without authentication=TRUE
SIP allow internal calls without authentication=TRUE
SIP registrar minimum expiration=60
SIP registrar maximum expiration=600
H.323 gatekeeper enable=TRUE
H.323 allow registration without authentication=TRUE
H.323 allow MCU calls without registration=TRUE
H.323 allow internal calls without registration=TRUE
H.323 allow duplicate aliases=TRUE
H.323 gatekeeper minimum Time To Live=60
H.323 gatekeeper maximum Time To Live=600

[Video]
RESTORE DEFAULTS=FALSE
Enable video=TRUE
Video frame rate=15
Video scale filter=libyuv|kFilterBilinear

[Conference *]
Auto create when connecting=Disable
Force split screen video=Enable
Auto delete empty=Disable
Auto record start=Disable
Auto record stop=Disable
Recall last template=Disable
Template locks conference by default=Enable

[Conference 200]
Auto create when connecting=Disable
Force split screen video=Enable
Auto delete empty=Disable
Auto record start=Disable
Auto record stop=Disable
Recall last template=Disable
Template locks conference by default=Enable

[Parameters]
RESTORE DEFAULTS=FALSE
Language=RU
OpenMCU-ru Server Id=...
Default protocol for outgoing calls=h323
HTTP IP={{ ansible_default_ipv4.address }}
HTTP Port=1420
Enable HTTP secure=FALSE
HTTP Certificate=/opt/openmcu-ru/ssl/http.pem
RTP Base Port={{ openmcu_rtp_base_port }}
RTP Max Port={{ openmcu_rtp_max_port }}
Trace level=0
Rotate trace files at startup=0
Log Level=5
Call log filename=/opt/openmcu-ru/log/mcu_log.txt
Room control event buffer size=100
Copy web log to call log=FALSE
Default room=200
Reject duplicate name=FALSE
Allow loopback calls=FALSE
Auto dial delay=X
Video Recorder directory=/opt/openmcu-ru/records
Video Recorder video codec=mpeg4
Video Recorder resolution=1280x720
Video Recorder frame rate=15
Video Recorder video bitrate=0
Video Recorder audio codec=ac3
Video Recorder sound rate=16000
Video Recorder sound channels=1

[H323 Parameters]
RESTORE DEFAULTS=FALSE
H.323 Listener={{ ansible_default_ipv4.address }}:1720
Disable Fast-Start=FALSE
Disable H.245 Tunneling=FALSE
Gatekeeper Mode=No gatekeeper
Gatekeeper request retry interval=30
Gatekeeper registration TTL(Time To Live)=600
Gatekeeper Username=MCU

[SIP Parameters]
RESTORE DEFAULTS=FALSE
SIP Listener={{ ansible_default_ipv4.address }}:5060,transport=udp

[RTSP Parameters]
RESTORE DEFAULTS=FALSE
Enable=TRUE
Listener={{ ansible_default_ipv4.address }}:1554

[SIP Endpoint *]
Room=002
Ping interval=20
SIP call processing=redirect
RTP proto=RTP
RTP Input Timeout=60
Video cache=Enable
Received VFU delay=Disable

[SIP Endpoint 5577]
Display name=м-р Чубик
Password=5577
Ping interval=20
Host=10.66.10.252
Transport=udp
RTP proto=RTP
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec=G.711-ALaw-64k{sw}
Video codec=H.264{sw}
Video resolution=1280x720

[SIP Endpoint grafeev]
Display name=к-н Графеев
Ping interval=20
Host=10.66.10.9
Transport=udp
RTP proto=RTP
Frame rate from MCU=15
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec=G.711-ALaw-64k{sw}
Video codec=H.264{sw}
Video resolution=640x480

[SIP Endpoint fedorov_ai]
Display name=Федоров А.И.
Ping interval=20
Host=10.66.1.66
Transport=udp
RTP proto=RTP
Frame rate from MCU=15
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec=G.711-ALaw-64k{sw}
Video codec=H.264{sw}
Video resolution=1280x720

[RECEIVE_SOUND]
G.711-ALaw-64k{sw}=True
TABLEID=False
SILK_B40{sw}=True
SILK_B40_24K{sw}=True
OPUS_48K2{sw}=True
OPUS_48K{sw}=True
OPUS_16K{sw}=True
OPUS_8K{sw}=True
G.711-uLaw-64k{sw}=True
G.7231-6.3k[e]{sw}=True
G.729A{sw}=True
G.729{sw}=True
Speex_32K{sw}=True
Speex_16K{sw}=True
Speex_8K{sw}=True
G.726-40k{sw}=True
G.726-32k{sw}=True
G.726-24k{sw}=True
G.726-16k{sw}=True
iLBC-13k3{sw}=True
iLBC-15k2{sw}=True
G.722-64k{sw}=True
G.722.1-24K{sw}=True
G.722.1-32K{sw}=True
G.722.1C-24K{sw}=True
G.722.1C-32K{sw}=True
G.722.1C-48K{sw}=True
G.722.2{sw}=True

[RECEIVE_VIDEO]
H.264{sw}=True
TABLEID=False
VP8{sw}=True
H.263p{sw}=True
H.263{sw}=True
H.261{sw}=True
MP4V-ES{sw}=True

[TRANSMIT_SOUND]
G.711-ALaw-64k=True
TABLEID=False
OPUS_48K2{sw}=True
OPUS_48K{sw}=True
SILK_B40_24K{sw}=True
SILK_B40{sw}=True
OPUS_16K{sw}=True
Speex_32K{sw}=True
Speex_16K{sw}=True
G.722-64k{sw}=True
OPUS_8K{sw}=True
Speex_8K{sw}=True
G.711-uLaw-64k=True
G.7231-6.3k[e]{sw}=True
G.729A{sw}=True
G.729{sw}=True
G.726-40k{sw}=True
G.726-32k{sw}=True
G.726-24k{sw}=True
G.726-16k{sw}=True
iLBC-13k3{sw}=True
iLBC-15k2{sw}=True
G.722.1-24K{sw}=True
G.722.1-32K{sw}=True
G.722.1C-24K{sw}=True
G.722.1C-32K{sw}=True
G.722.1C-48K{sw}=True
G.722.2{sw}=True

[TRANSMIT_VIDEO]
H.264{sw}=True
TABLEID=False
VP8{sw}=True
H.263p{sw}=True
H.263{sw}=True
H.261{sw}=True
MP4V-ES{sw}=True

[H323 Endpoint *]
Room=002
Ping interval=20
H.323 call processing=full
RTP Input Timeout=60
Video cache=Enable
Received VFU delay=Disable

[H323 Endpoint 1721]
Display name=ИК-56
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.104.99
Frame rate from MCU=15
Bandwidth from MCU=512
Bandwidth to MCU=512
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=176x144
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x1024

[H323 Endpoint 1733]
Display name=Космонавтов
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.81.253
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 5577]
Display name=м-р Чубик
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.10.252
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 5505]
Display name=ст. л-т Ушакова
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.10.42
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1741]
Display name=п/п-к Любимов
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.10.6
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint codian]
Room=200
Display name=ФСИН России2
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.77.12.121
Frame rate from MCU=15
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x1024

[H323 Endpoint 4000]
Room=200
Display name=ФСИН России1
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.77.12.121
Frame rate from MCU=15
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x1024

[H323 Endpoint 10.77.16.184]
Room=200
Display name=ФСИН России
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.77.16.184
Frame rate from MCU=15
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x1024

[H323 Endpoint 1700]
Display name=Екатеринбург
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.2.7
Frame rate from MCU=20
Bandwidth from MCU=2048
Bandwidth to MCU=2048
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1743]
Display name=Екатеринбург2
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.9.6
Frame rate from MCU=15
Bandwidth from MCU=768
Bandwidth to MCU=768
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=352x288

[H323 Endpoint 1746]
Display name=Екатеринбург1
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.2.5
Frame rate from MCU=20
Bandwidth from MCU=2048
Bandwidth to MCU=2048
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1701]
Display name=ИК-2
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.12.224
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1702]
Display name=ИК-3
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.85.15
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1703]
Display name=ИК-5
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.86.31
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1704]
Display name=ИК-6
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.87.13
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1705]
Display name=ИК-8
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.88.4
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1706]
Display name=ИК-10_VC200
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.80.50
Frame rate from MCU=20
Bandwidth from MCU=1280
Bandwidth to MCU=1280
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1707]
Display name=ИК-12
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.89.198
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1708]
Display name=ИК-13
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.90.50
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1709]
Display name=ЛИУ-23
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.92.5
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1710]
Display name=ИК-16
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.116.21
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1711]
Display name=ИК-19
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.94.77
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1712]
Display name=ИК-24
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.95.105
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1713]
Display name=ИК-26
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.121.10
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1714]
Display name=ИК-46
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.96.21
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1715]
Display name=ИК-47
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.97.20
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1716]
Display name=ЛИУ-51
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.51.3
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1717]
Display name=ИК-52
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.99.98
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1718]
Display name=ИК-53
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.101.100
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1719]
Display name=ИК-54
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.102.3
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1720]
Display name=ИК-55
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.103.254
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1723]
Display name=ИК-62
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.109.35
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1724]
Display name=ИК-63
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.110.250
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1725]
Display name=КП-45
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.123.4
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1726]
Display name=Кировградская ВК
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.117.100
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1727]
Display name=СИЗО-1
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.11.247
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1728]
Display name=СИЗО-2
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.112.119
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1729]
Display name=СИЗО-3
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.113.102
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1730]
Display name=СИЗО-4
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.114.112
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1731]
Display name=СИЗО-5
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.84.50
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1732]
Display name=СИЗО-6
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.115.11
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1734]
Display name=КП-59
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.106.24
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1735]
Display name=КП-66
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.111.4
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1736]
Display name=УК
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.120.8
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1737]
Display name=Учебный центр
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.98.85
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1738]
Display name=БМТиВС
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.1.221
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1739]
Display name=МСЧ-66
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.82.99
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 1777]
Display name=Борисова
Ping interval=20
Input Gain=0
Output Gain=0
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 5552]
Display name=м-р Аксенов П.С.
Ping interval=20
Input Gain=0
Output Gain=0
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 10.72.2.99]
Display name=Тюмень
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.72.2.99
Frame rate from MCU=15
Bandwidth from MCU=1280
Bandwidth to MCU=1280
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 10.74.0.100]
Display name=Челябинск
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.74.0.100
Frame rate from MCU=15
Bandwidth from MCU=1280
Bandwidth to MCU=1280
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 10.89.0.199]
Display name=Харп
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.89.0.199
Frame rate from MCU=15
Bandwidth from MCU=1280
Bandwidth to MCU=1280
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 10.86.0.154]
Display name=Сургут
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.86.0.154
Frame rate from MCU=15
Bandwidth from MCU=1280
Bandwidth to MCU=1280
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 10.45.15.210]
Display name=Курган
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.45.15.210
Frame rate from MCU=15
Bandwidth from MCU=1280
Bandwidth to MCU=1280
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 10.59.18.194]
Display name=Пермь_ВК
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.59.18.194
Frame rate from MCU=15
Bandwidth from MCU=768
Bandwidth to MCU=768
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=704x576

[H323 Endpoint 10.18.39.149]
Display name=Ижевск_ВК
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.18.39.149
Frame rate from MCU=15
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x1024

[H323 Endpoint 7272]
Display name=Тюмень_ВК
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.72.214.165
Frame rate from MCU=15
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 10.66.117.205]
Display name=Екатеринбург_ВК
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.66.117.205
Frame rate from MCU=15
Bandwidth from MCU=768
Bandwidth to MCU=768
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=352x288

[H323 Endpoint 10.59.126.40]
Display name=Пермь Институт
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.59.126.40
Frame rate from MCU=15
Bandwidth from MCU=768
Bandwidth to MCU=768
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=352x288

[H323 Endpoint 10.136.0.100]
Room=200
Display name=Воронежский Институт_2
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.136.0.100
Frame rate from MCU=15
Bandwidth from MCU=768
Bandwidth to MCU=768
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=352x288

[H323 Endpoint 10.133.0.12]
Display name=Владимир Институт
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.133.0.12
Frame rate from MCU=15
Bandwidth from MCU=768
Bandwidth to MCU=768
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=352x288

[H323 Endpoint 10.135.0.2]
Display name=Вологда Институт
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.135.0.2
Frame rate from MCU=15
Bandwidth from MCU=768
Bandwidth to MCU=768
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=352x288

[H323 Endpoint 10.163.10.6]
Display name=Самара Институт
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.163.10.6
Frame rate from MCU=15
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 10.143.0.4]
Display name=Кировский Институт
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.143.0.4
Frame rate from MCU=15
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 10.74.0.217]
Display name=Челябинск OpenMCU
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.74.0.217
Frame rate from MCU=15
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=704x576
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint room101]
Display name=Тюмень OpenMCU
Ping interval=20
Input Gain=0
Output Gain=0
Host=10.72.2.238
Frame rate from MCU=15
Bandwidth from MCU=1280
Bandwidth to MCU=1280
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720

[H323 Endpoint 5586]
Display name=пр-к Харлов Н.А
Ping interval=20
Input Gain=0
Output Gain=0
Frame rate from MCU=20
Bandwidth from MCU=1024
Bandwidth to MCU=1024
RTP Input Timeout=15
Video cache=Enable
Audio codec(receive)=G.711-ALaw-64k{sw}
Audio codec(transmit)=G.711-ALaw-64k
Video codec(receive)=H.264{sw}
Video resolution(receive)=1280x720
Video codec(transmit)=H.264{sw}
Video resolution(transmit)=1280x720
